:root {
  --primary-color: #292b2f;
  --buttom-color-hover: #8ea1e1;
  --text-color: white;
}

.homePageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageContent {
  text-align: center;
}

.MuiAppBar-colorPrimary {
  background-color: var(--primary-color) !important;
}

.homePageContent .MuiButtonBase-root {
  font-size: 1.2em !important;
  padding: 12px 15px;
}

.homePageContent .MuiButtonBase-root:hover {
  background-color: var(--buttom-color-hover) !important;
  color: var(--text-color);
}

@media(max-width: 991px) {

  .homePageContent .MuiButtonBase-root {
    width: 85%;
    font-size: 1.2em !important;
  }

}